.font-dosis {
  font-family: Dosis, Roboto, sans-serif;
}

.bg-ui-general {
  background-image: url(../img/header/general.png);
}

.doc-btn-spacing .btn {
  margin-bottom: 10px;
  margin-right: 6px;
}

.doc-btn-spacing .btn-group {
  margin-bottom: 10px;
}

.doc-btn-spacing .btn-group .btn,
.doc-btn-spacing .btn-group .btn-group,
.doc-btn-spacing .btn-group-vertical .btn {
  margin-bottom: 0;
  margin-right: 0;
}

.doc-dropdown .dropdown,
.doc-dropdown .dropup {
  display: inline-block;
}

.doc-dropdown .dropdown-menu,
.doc-dropdown .dropdown-grid {
  transform: scale(1, 1);
}

.doc-bg-colors-spacing > [class*="bg-"] {
  padding: 8px;
  margin-bottom: 8px;
}

.doc-link-colors-spacing > a[class] {
  padding-right: 8px;
}

.doc-topbar-static .topbar {
  position: static;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.doc-topbar-static .topbar .sidebar-toggler,
.doc-topbar-static .topbar .topbar-menu-toggler {
  display: none;
}

.topbar-menu-open .doc-topbar-static .topbar .topbar-navigation {
  display: none;
}

.doc-topbar-static .topbar.bg-transparent {
  box-shadow: none;
}

.doc-aos div {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
}

.demo-code-for-media .code-title {
  background-color: #fff;
}

.demo-code-for-media .code-preview {
  padding: 0;
}

.demo-code-for-media .code-toggler ~ pre {
  display: none;
}

.doc-media-bg .media {
  background-color: #f9fafb;
}

.demo-icons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.demo-icons-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 72px;
  height: 72px;
  text-align: center;
  cursor: pointer;
  transition: .1s;
}

.demo-icons-list li .material-icons {
  font-size: inherit;
}

.demo-icons-list li [data-i8-icon] {
  margin: 0 10px;
}

.demo-icons-list li [data-provide~="emoji"] svg {
  width: 32px;
  height: 32px;
}

.demo-icons-list li:hover {
  background-color: #f7fafc;
}

.demo-icons-list.icons-size-16px {
  font-size: 16px;
}

.demo-icons-list.icons-size-16px li {
  width: 56px;
  height: 56px;
}

.demo-icons-list.icons-size-24px {
  font-size: 24px;
}

.demo-icons-list.icons-size-24px li {
  width: 64px;
  height: 64px;
}

.demo-icons-list.icons-size-32px {
  font-size: 32px;
}

.demo-icons-list.icons-size-32px li {
  width: 72px;
  height: 72px;
}

.demo-icons-list.icons-size-48px {
  font-size: 48px;
}

.demo-icons-list.icons-size-48px li {
  width: 88px;
  height: 88px;
}

.demo-icons-list.icons-size-64px {
  font-size: 64px;
}

.demo-icons-list.icons-size-64px li {
  width: 104px;
  height: 104px;
}

.demo-icons-list.icons-size-80px {
  font-size: 80px;
}

.demo-icons-list.icons-size-80px li {
  width: 120px;
  height: 120px;
}

.demo-icons-list.icons-size-96px {
  font-size: 96px;
}

.demo-icons-list.icons-size-96px li {
  width: 136px;
  height: 136px;
}

.demo-emoji-list-container .demo-icons-list li {
  margin-right: 0;
  margin-bottom: 0;
  width: 52px;
  height: 52px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-16px li {
  width: 36px;
  height: 36px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-16px li [data-provide~="emoji"] svg {
  width: 16px;
  height: 16px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-24px li {
  width: 44px;
  height: 44px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-24px li [data-provide~="emoji"] svg {
  width: 24px;
  height: 24px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-32px li {
  width: 52px;
  height: 52px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-32px li [data-provide~="emoji"] svg {
  width: 32px;
  height: 32px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-48px li {
  width: 68px;
  height: 68px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-48px li [data-provide~="emoji"] svg {
  width: 48px;
  height: 48px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-64px li {
  width: 84px;
  height: 84px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-64px li [data-provide~="emoji"] svg {
  width: 64px;
  height: 64px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-80px li {
  width: 100px;
  height: 100px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-80px li [data-provide~="emoji"] svg {
  width: 80px;
  height: 80px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-96px li {
  width: 116px;
  height: 116px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-96px li [data-provide~="emoji"] svg {
  width: 96px;
  height: 96px;
}

.demo-color-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.demo-color-list li {
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 0;
  border: 1px solid #f1f2f3;
}

.demo-color-list li > span {
  display: flex;
  flex-grow: 1;
  flex-basis: 100px;
  min-height: 80px;
  min-width: 160px;
}

.demo-color-list p {
  font-size: 12px;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: #fcfdfe;
  border-top: 1px solid #f1f2f3;
}

.demo-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-bottom: 15px;
}


/* CALENDAR CSS START  */

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    /* padding: 70px 25px; */
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* CALENDAR CSS END */


/* TABLE X SCROLL */

.search-table-outter { overflow-x: scroll; }

/* fixedd table titles */


/* DAILY PILOT0 */


p,
body,
td {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
}

a {
  color: #1155a3;
}

.space {
  margin: 10px 0px 10px 0px;
}

.header {
  background: #003267;
  background: linear-gradient(to right, #011329 0%, #00639e 44%, #011329 100%);
  padding: 20px 10px;
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.header a {
  color: white;
}

.header h1 a {
  text-decoration: none;
}

.header h1 {
  padding: 0px;
  margin: 0px;
}

.main {
  padding: 10px
}


.scheduler_default_event_bar {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  background-color: (255,0,0);
}

/* .bubble_default_main{
  animation-delay: 500ms;
} */

.height-class{
  height: 100px;
}

.textCenter{
  /* clear: both;
  display: flex;
  text-align  :center; */

  /* display: flex;
  display: -moz-inline-box;
  *display: inline; /* For IE7 
  zoom: 1;
  width: 100%; */
  /* text-align:center; */
  /* float: center;
  width:33.33333%; */
  text-align: center;
}

/* s */