.form-control,
.form-control .btn-light{
  border-color: #7d7d7d;
  color: #7d7d7d;
  font-size: 11px;
}
.form-shrink{
	padding-left: 4px;
	padding-right: 1px;
	font-size: 10px;
}
.form-control::-webkit-input-placeholder{color: #7d7d7d;}
.form-control::-moz-placeholder {color: #7d7d7d;}
.form-control:-ms-input-placeholder {color: #7d7d7d;}
.form-control:-moz-placeholder {color: #7d7d7d}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover{
	color: #7d7d7d;
}
.input-group-text{
	background: none;
	border: none;
	color: #7d7d7d;
	font-size: 16px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-check{
	color: #aa57b2;
	text-transform: uppercase;
	font-weight: 500;
}
.dollor-wrap{
	.custom-controls-stacked{
		position: relative;
		width: 100%;
		padding-right: 35px;
		&:after{
			content: "+ $$$";
			position: absolute;
			right: 0;
			top: 0;
			color: #b9e63a;
			font-weight: bold;
		}
	}
}
.divider-custom{
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}
.field-txt{
	text-transform: uppercase;
	color: #ff0000;
	font-size: 10px;
	font-weight: 500;
	margin-right: -30px;
}

.form-lg{
  font-size: 20px;
  padding: 10px 12px;
  text-align: center;
}
.font-bold{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
body .form-hilighted{
  color: #6be285 !important;
  font-weight: 500;
}
.form-hilighted::-webkit-input-placeholder {color: #6be285;}
.form-hilighted::-moz-placeholder {color: #6be285;}
.form-hilighted:-ms-input-placeholder {color: #6be285;}
.form-hilighted:-moz-placeholder {color: #6be285}

.map-wrap{
	position: relative;
	padding-right: 150px;
}
.btns-wrap{
	// position: absolute;
	// right: 0;
	// top: 10px;
	// width: 105px;
	.btn-light{
		display: block;
		border-color: #7d7d7d;
		text-transform: uppercase;
		line-height: 1.4;
		padding: 12px 5px;
		font-size: 11px;
	}
}
.margin-negative{
	padding: 0;
	margin-left: -15px;
}
.visibility-hidden{
	visibility: hidden;
}
.form-group{
	iframe{
		width: 100% !important;
		height: 400px;
	}
}
.custom-controls-stacked .custom-control{
	margin-bottom: 0;
}